@page "/"
@inject HttpClient Http
@inject NavigationManager NavigationManager

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<button @onclick="NewWar">New</button>

<input type="text" @bind="WarId">
<button @onclick="JoinWar">Join</button>

@code
{
    private string WarId { get; set; } = string.Empty;

    private async Task NewWar()
    {
        var res = await Http.PostAsync("/war", null);

        if (res.StatusCode == System.Net.HttpStatusCode.OK)
        {
            WarDto? war = await res.Content.ReadFromJsonAsync<WarDto>();

            if (war is not null)
            {
                NavigationManager.NavigateTo($"/{war.Id}");
            }
        }
        else if (res.StatusCode == System.Net.HttpStatusCode.Unauthorized)
        {
            NavigationManager.NavigateTo("/login");
        }
    }

    public async Task JoinWar()
    {
        var res = await Http.PostAsync("/war/join/" + WarId, null);

        if (res.StatusCode == System.Net.HttpStatusCode.OK)
        {
            NavigationManager.NavigateTo($"/{WarId}");
        }
        else if (res.StatusCode == System.Net.HttpStatusCode.Unauthorized)
        {
            NavigationManager.NavigateTo("/login");
        }
    }
}
