@page "/login"
@inject HttpClient Http
@inject NavigationManager NavigationManager

<PageTitle>Login</PageTitle>

<div id="container">
    <h1>SPACE WARFARE</h1>

    <div id="form">
        <input class="style" type="text" placeholder="Commander Name" @bind="Username">
        <input class="style" type="password" placeholder="Secret Password" @bind="Password">

        <div id="button-container">
            <button class="style" @onclick="SubmitLogin">LOGIN</button>
            <button class="style" @onclick="SubmitRegister">REGISTER</button>
        </div>
    </div>
</div>

@code
{
    private string Username { get; set; } = string.Empty;
    private string Password { get; set; } = string.Empty;

    private async Task SubmitLogin()
    {
        try
        {
            var res = await Http.PostAsJsonAsync("/auth/login", new CommanderLoginDto { Username = Username, Password = Password });
            res.EnsureSuccessStatusCode();
            TokenDto? tokenDto = await res.Content.ReadFromJsonAsync<TokenDto>();

            if (tokenDto is not null)
            {
                Http.DefaultRequestHeaders.Authorization = new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", tokenDto.AccessToken);
                NavigationManager.NavigateTo($"/");
            }
        }
        catch (HttpRequestException) { }
    }

    private async Task SubmitRegister()
    {
        try
        {
            var res = await Http.PostAsJsonAsync("/auth/register", new CommanderRegisterDto { Username = Username, Password = Password });

            res.EnsureSuccessStatusCode();
            TokenDto? tokenDto = await res.Content.ReadFromJsonAsync<TokenDto>();

            if (tokenDto is not null)
            {
                Http.DefaultRequestHeaders.Authorization = new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", tokenDto.AccessToken);
                NavigationManager.NavigateTo($"/");
            }
        }
        catch (HttpRequestException) { }
    }
}
